<div class="landing">
	<div class="signing">
		<h1>zenflow</h1>
	 	<h2>
  		  Create an amazing daily routine.
  		</h2>

  		<%= link_to "Sign up now", signup_path, class: "btn btn-large btn-primary" %> or <a href="/signin">Sign in</a>
  	</div> 


  	<div class="opening">

    <a href="/joel"><%= image_tag '/assets/joel.png', :class=>'examplepic' %></a>

    <a href="/michelle"><%= image_tag '/assets/michelle.png', :class=>'examplepic' %></a>
    
    <a href="/carolyn"><%= image_tag '/assets/carolyn.png', :class=>'examplepic' %></a>

	 </div>
</div>