<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Zenflow.io, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Zenflow, wohoo<br/>
    </p>
    <p>
      Feel free to reply at any time to this! :)
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>