<li>
	<span class="content">From: <%= Time.at(task.hour).strftime("%I:%M %p") %> 
		<%= Time.at(task.to_hour).strftime("to: %I:%M %p") unless task.to_hour.nil? %> <strong><%= task.content %> </strong>
		<% if @current_user %>
			(<a href="/tasks/<%= task.id %>/edit">edit</a>)</span>
		<% end %>
</li>