@import "bootstrap";

.profile {
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  bottom: 0px;
  clear: both;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: margin-left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      clear: left;
    }
  }
}

.gravatar {

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 .alert {
 }

 /* miscalleneous */

.profile {
  float: left;
}

.routine {
}

.wrapper {
  background-image: url ('http://farm7.staticflickr.com/6151/6159637428_6bffb5bce1_z.jpg');
  height: 300px;
  padding: 0px;
  margin-top: 25px;
}

/* tasks */

.content {
  margin-left: 20
}
.timestamp {
  color: $grayLight;
}
.gravatar {
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.row {
}

.tasks {
  text-align: left;
  width: 430px;
  margin:0 auto;
  border-left: 1px solid #eaeaea;
  padding-left: 75px;
  margin-left: 75px;
  float: left;  
}

.taskdesign {
  margin-top: 15px;
}

.field select {
  margin-top: 10px;
  width: 50px;
  list-style: none; 
}

.textfield {
  width: 200px;
}

body > div.container {
  margin-top: 50px;
}

.navbar-inverse .navbar-inner {
  background-image: -webkit-linear-gradient(top, rgb(148, 233, 136), rgb(90, 206, 90));
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a{
  color: #FFFFFF
}

.btn-primary {
  background-image: -webkit-linear-gradient(top, rgb(148, 233, 136), rgb(90, 206, 90));
  border-color: #5ace5a;
  margin:0 auto;
}

.btn-primary:hover {
  background-color: #5ace5a;
}

a {
  color: rgb(90, 206, 90);
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
  background-image: -webkit-linear-gradient(top, rgb(148, 233, 136), rgb(90, 206, 90));
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: rgb(90, 206, 90);
}

.pictures {
  height: 15px;
  width: 15px;
}

h3 {
  line-height: 0px;
  padding-bottom: 25px;
    text-align: center;

}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
}

body.homepage {
  background-image: url("zenflow.jpg");
  background-repeat: no-repeat;
}

.landing {
  width: 1000px;
  height: 2000px;
  margin:0px auto;
}

.opening {
  margin-left: 100px;
  margin-top: 10px;
  color: white;
}

.opening h2 {
  color: white;
  text-align: right;
  padding-right: 30px;
  overflow: hidden;
  font-size: 23px;
  letter-spacing:2px
}

.opening h1 {
  color: white;
  text-align: right;
  padding-right: 30px;
  margin-top: 400px;
  letter-spacing: 1px;
  font-style: normal; 
  margin-bottom: 0px;
}


.signing {
  text-align: center;
  color: #f7f7f7;
}

.signing h2 {
  text-align: center;
  line-height: 0px;
  margin-bottom: 40px;
  color: rgb(247, 247, 247);
  text-align: center;
}

.signing h1 {
  color: rgb(247, 247, 247);
  text-align: center;
}

.landingpic {
  overflow: hidden;
  width: 90%;
  margin-bottom: 15px;
}

.examplepic {
  overflow: hidden;
  width: 70%;
  margin-bottom: 15px;
  margin-top: 90px;
  margin-left: 80px;
}

.linktext {
  padding-top: 10px;
  margin-left: 130px;
  color: white;
}

.signing a {
  color: #f7f7f7;
}

// Place all the styles related to the Routinely controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
